/* src/styles.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Add animation for the features to appear with a delay */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .opacity-0 {
    opacity: 0;
  }
  
  .opacity-1 {
    opacity: 1;
  }
  
  .translate-y-0 {
    transform: translateY(0);
  }
  
  .translate-y-4 {
    transform: translateY(1rem);
  }

  .gradient-text {
    
    background: linear-gradient(180deg, #f8f9fa, #ced4da);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

  }


  body {
  background-color: #222;
}

/* For the section, set the background gradient */

/* styles.css (or your preferred CSS file) */

@keyframes logoAnimation {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(0.9);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.logo-animation {
  animation: logoAnimation 3s ease-in-out infinite;
}

.feature-card {
  opacity: 0;
  transform: translateY(2rem);
  background-color: #1F2937; /* Set the background color as needed */
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease, transform 0.3s ease-in-out; /* Updated transition property */
}

.feature-card.fade-in-up {
  opacity: 1;
  transform: translateY(0);
}

.feature-card:hover {
  /* Hover effect styles */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}

